---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import { healthAcademyLogo, butAScratch, whale, nosto } from "../images";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout>
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there &#127928;</div>
    <h1 class="text-5xl font-bold">I'm Vasile Pop</h1>
    <h2 class="text-3xl py-3 font-bold">
      SDET, QA Engineer, Dad, Husband and Musician
    </h2>
    <div class="py-2">
      <text class="text-lg">
        A bit about me, my work experience, my projects and maybe some blogging
      </text>
    </div>
    <div class="mt-8">
      <a
        class="btn"
        href="https://www.linkedin.com/in/vasilepop/"
        target="_blank"
      >
        Let's connect!</a
      >
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My newest projects 💻</div>
  </div>

  <HorizontalCard
    title="HealthAcademy"
    img={healthAcademyLogo}
    desc="A site for the marvelous HealthAcademy from Cluj."
    url="https://health-academy.ro"
    badge="Web"
  />

  <HorizontalCard
    title="Nosto"
    img={nosto}
    desc="A site for the real state developer NOSTO from Timisoara."
    url="https://nosto.ro"
    badge="Web"
  />

  <HorizontalCard
    title="WhalesEncyclopedia"
    img={whale}
    desc="A site I built with my son about the whales of the world."
    url="https://whales.rocks"
    badge="Web, Fun"
  />

  <HorizontalCard
    title="Mounty"
    img={butAScratch}
    desc="A Python wrapper for the wonderful Mountebank REST API. Use it for testing your services in isolation."
    url="https://github.com/vicusbass/mounty"
    badge="Python, Testing"
  />
  <div class="divider my-0"></div>

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.id}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
