---
import { getCollection, render } from "astro:content";
import type { CollectionEntry } from "astro:content";
import type { JobSchema } from "../../content.config";
import JobLayout from "../../layouts/JobLayout.astro";

export async function getStaticPaths() {
  const jobEntries = await getCollection("job");
  return jobEntries.map((entry) => ({
    params: { slug: entry.id },
    props: { entry },
  }));
}

interface Props {
  entry: CollectionEntry<"job">;
}

const { entry } = Astro.props;
const job: JobSchema = entry.data;
const { Content } = await render(entry);
---

<JobLayout
  title={job.title}
  description={job.description}
  company={job.company}
  companyUrl={job.companyUrl}
  startDate={job.startDate}
  endDate={job.endDate}
>
  <Content />
  <a href=`/cv#${entry.id}`>Back</a>
</JobLayout>
